<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

	<div style="background-color: #f4f4f4; padding: 20px 40px 30px 40px">
		<div class="adM"></div>
		<div style="padding-bottom: 5px">
			<div class="adM"></div>
			<img
				src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-655057965690/01539e70-b744-44a2-9455-32c727a72f04_logo.png"
				width="85" height="auto" alt="AlgaWorks" class="CToWUd">
		</div>
		<div
			style="border: 1px solid #a5a5a5; background-color: #ffffff; color: #4d4d4d; font: 14px Arial, Helvetica, sans-serif; padding: 10px; text-align: left">

			<p>
				<strong>Ol&aacute; <span th:text="${nome}"></span> !</strong>
			</p>
		<br>	<br>
			<p>A Equipe do <strong>Planejamento Financeiro - PlanFin</strong>, recebeu a sua
				solicita&ccedil;&atilde;o para redefini&ccedil;&atilde;o de senha.</p>
<br>
			<p>Use o link a seguir nas pr&oacute;ximas 24 horas para criar
				uma nova senha!</p>
<br><br>
			<p align="justify" style="width: 400px;">
				>> <strong> <a th:href="@{${email}}"> clique para redefinir sua senha</a></strong> <<
			</p>

	<br><br>		
			<p>Se n&atilde;o foi voc&ecirc; que solicitou a
				cria&ccedil;&atilde;o de uma nova senha, n&atilde;o se preocupe,
				apenas ignore esta mensagem.</p>
<br><br>
			<p>
				Obrigado, <br><br> Equipe
			</p>

		</div>
		<div
			style="color: #727272; font: 12px Arial, Helvetica, sans-serif; padding: 5px 0px; text-align: left">
			Tenha suas financias com praticidade!</div>
		<div class="yj6qo"></div>
		<div class="adL"></div>
	</div>


</body>
</html>
