<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <body> 
    
    <div style="background-color:#f4f4f4;padding:20px 40px 30px 40px"><div class="adM">
			</div><div style="padding-bottom:5px"><div class="adM">
	            </div><img src="https://s3.amazonaws.com/www.imagens/home/12934_Logo_Oferta_do_dia.png" width="145" height="30" alt="AlgaWorks" class="CToWUd">
			</div>
	        <div style="border:1px solid #a5a5a5;background-color:#ffffff;color:#4d4d4d;font:14px Arial,Helvetica,sans-serif;padding:10px;text-align:left">
	            
    <p>
    	<strong>Ol&aacute; $usuario.nome!</strong>
    </p>   
		    <p>
		    A Equipe da Oferta do Dia recebeu a sua solicita&ccedil;&atilde;o para redefini&ccedil;&atilde;o de senha.
		     	</p>

  	<p>
  		Use o link a seguir nas pr&oacute;ximas 24 horas para criar uma nova senha!
  	</p>

   	 <p align="justify" style="width:400px;">
			>> <strong> $email </strong> <<
	 </p>
  	
  	<p>
  		Se n&atilde;o foi voc&ecirc; que solicitou a cria&ccedil;&atilde;o de uma nova senha, n&atilde;o se preocupe, apenas ignore esta mensagem.
  	</p>

    <p>
    	Obrigado,
    	<br>
    	Equipe da Oferta do dia
    </p>

	      	</div>
			<div style="color:#727272;font:12px Arial,Helvetica,sans-serif;padding:5px 0px;text-align:left">
				Encontre as melhores promo&ccedil;&otilde;es
			</div><div class="yj6qo"></div><div class="adL">
      </div></div>
        	 
     </body>
</html>



